.App {
  text-align: center;
}

.Header {
  color: #003b6f;
  text-shadow: -1px -1px 5px  yellow;
  font-size: 72px;
  font-family: 'Orbitron', sans-serif;
}
/* write your parent styles in here for your App.js */


